$dark-blue: #060b35; // Темно-синій для тексту
$main-blue: #00acdc; // Колір кнопки BUY
$hover-blue: #08c; // Колір при наведенні (скорочено для лінтера)
$grey: #060b35; // Для коду товару та Price
$color-border: #eee;
$font-main: 'Roboto', sans-serif;
